:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentprimary: #01a61f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accentprimary: #01a61f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.layoutWrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
